.allCharTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
}

.allCharGrid {
  display: grid;
  gap: 15px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  max-width: 400px;
  padding: 14px;
  margin: 0 200px;
}

.cardText {
  text-decoration: none;
  color: #303539;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .allCharTitle {
    margin: 10px;
  }

  .allCharGrid {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    max-width: 100%;
    margin: 0px;
  }
}
