.characterDetailContainer {
  border-radius: 20px;
  color: #303539;
  font-family: "Figtree", sans-serif;
  font-weight: 380;
  padding: 40px;
}

.name {
  border-bottom: #dbc11e 2px solid;
  color: #dbc11e;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

.img {
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: block;
  margin: 0 auto 20px;
  max-height: 300px;
  object-fit: cover;
  width: 400px;
}

.charDescription {
  border-bottom: 2px solid #dbc11e;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 14px;
}

.powersTitle {
  border-left: 4px solid #0b9dc5;
  color: #0b9dc5;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.powers {
  border-left: 4px solid #0b9dc5;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 10px;
  list-style: none;
  margin-top: 8px;
  padding: 12px;
}

/* ---MEDIA QUEROES--- */
@media (max-width: 768px) {
  .characterDetailContainer {
    padding: 24px;
  }

  .name {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  .charDescription {
    font-size: 1rem;
    text-align: center;
  }

  .img {
    width: 300px;
    height: 450px;
    margin-top: 20px;
  }

  .powersTitle {
    font-size: 1.2rem;
    text-align: center;
    border-left: none;
  }

  .powers {
    border-style: none;
    font-size: 1rem;
    text-align: center;
    padding-top: 1px;
  }
}
