.homeContainer {
  background-color: #e1ebed;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
}

.bannerContainer {
  border-bottom: 5px solid #ffde00;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.banner {
  filter: brightness(60%);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.title {
  color: #ffde00;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-shadow: 3px 3px 0px #e62429;
  text-transform: uppercase;
}

.heroContent {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px 20px;
  text-align: center;
}

.description {
  color: #444;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  margin: 0 auto;
  padding: 30px 20px;
}

.description strong {
  color: #2a52be;
  display: block;
  margin-top: 10px;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .bannerWrapper {
    height: 200px;
  }

  .description {
    font-size: 1.2rem;
  }

  .title {
    font-size: 2rem;
    margin: 0 auto;
  }
}
