.enemyTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500px;
  padding: 20px;
  text-align: center;
}

.enemyGrid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  max-width: 800px;
  padding: 14px;
  margin: 0 auto;
}

.cardText {
    text-decoration: none;
    color: #303539;
  }
  
@media (max-width: 768px) {
    .enemyGrid {
        grid-template-columns: 1fr;
    }
}
