.heroTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}

.heroGrid {
  align-content: center;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 200px;
  max-width: 400px;
  padding: 14px;
}

.cardText {
  color: #303539;
  text-decoration: none;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .heroTitle {
    margin: 10px;
  }

  .heroGrid {
    gap: 14px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 12px;
    margin: 0;
  }

  .charCardLink {
    max-width: 300px;
    width: 90%;
  }
}
