.footer {
  background-color: #303539;
  color: #00bcf0;
  display: flex;
  flex-direction: column;
  font-family: "New Amsterdam", sans-serif;
  font-size: 2em;
  padding: 25px;
  text-align: center;
}
